<nav class="navbar is-info" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://bananasplitfest.com">
            <!--
            <%- image_tag('img/gabsc-logo.png') %>
            -->
            <strong>Banana Split Celebration</strong>
          </a>
      
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
      
            <a class="navbar-item" href="/schedule">
              Schedule
            </a>

            <a class="navbar-item" href="/entertainment">
              Entertainment
            </a>

            <a class="navbar-item" href="/map">
                Map
            </a>

            <a class="navbar-item" href="/parking">
              Parking
            </a>
      
          </div>
      
        </div>
      </nav>